#recomendados-container{
    margin-top: 100px;
    

}
#recomendados-buscar-container, 
#recomendados-crear-container {
    margin-top: 110px;
    color: #8b0000;
}

.reac-bs-table-sizePerPage-dropdown  .dropdown-toggle{
    float:left;
    margin-bottom:20px;
}

.search-label {
    float: right;
    padding-bottom: 10px;
    color: #8b0000;
}


.sr-only {
    font-size: 0;
}